In [6]:
# Importacion de librerias
import pandas as pd
import numpy as np
import json
import re
import gzip
import ast
import warnings
from textblob import TextBlob
warnings.filterwarnings('ignore')

In [35]:

# Abre el archivo json y lee los datos
rows = []
print(f"Importando ...")
with open('./assets/metadata_sites/8.json', 'r') as f:
  for line in f.readlines():
    # print("line", line)
    data = json.loads(line)
    # convierte el JSON en un diccionario
    data_dic = dict(data)
    # print("data_dic", data_dic)
    rows.append(data_dic)
print(f"Termino la importación!!!")            
df_metadata = pd.DataFrame(rows)
#df_metadata.to_csv('./assets/metadata.csv', index=False)

Importando ...
Termino la importación!!!

In [36]:
print(df_metadata.head())

                         name  \
0             Porter Pharmacy
1         Discount Smoke Shop
2   Teppanyaki & Sushi Buffet
3  American Display & Fixture
4                   H&R Block

                                             address  \
0  Porter Pharmacy, 129 N Second St, Cochran, GA ...
1  Discount Smoke Shop, 4400 Woodson Rd, St. Loui...
2  Teppanyaki & Sushi Buffet, 6710 W Kellogg Dr, ...
3  American Display & Fixture, 3600 N Hawthorne S...
4    H&R Block, 3757 Belt Line Rd, Addison, TX 75001

                                 gmap_id  \
0  0x88f16e41928ff687:0x883dad4fd048e8f8
1  0x87df3418c268c2fd:0x22bc9dd6fc002c3e
2  0x87bae0c50d626c33:0xbfec787e2fc75206
3  0x886060672b860c57:0x8ce8aac55f240111
4  0x864c26c17b5fa467:0xe37e1efd993170b1

                                         description   latitude  longitude  \
0                                               None  32.388300 -83.357100
1  Discount retailer of cigarettes, cigars & othe...  38.729393 -90.356932
2  Restaurant featuring a buffet with sushi & oth...  37.674919 -97.420456
3                                               None  35.083761 -85.251825
4                                               None  32.953633 -96.853368

                                            category  avg_rating  \
0                                         [Pharmacy]         4.9
1  [Tobacco shop, Cigar shop, Lottery retailer, V...         4.4
2                     [Sushi restaurant, Restaurant]         3.6
3                  [Car factory, General contractor]         4.2
4          [Tax preparation service, Tax consultant]         3.9

   num_of_reviews price                                              hours  \
0              16  None  [[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...
1              48  None  [[Friday, 7AM–8PM], [Saturday, 7AM–7PM], [Sund...
2            1694    $$  [[Friday, 11AM–8PM], [Saturday, 11AM–8PM], [Su...
3               8  None                                               None
4              48  None                                               None

                                                MISC                    state  \
0  {'Service options': ['In-store shopping', 'Sam...        Open ⋅ Closes 6PM
1  {'Service options': ['Same-day delivery'], 'Ac...       Permanently closed
2  {'Service options': ['Takeout', 'Dine-in', 'De...  Closed ⋅ Opens 11AM Sat
3  {'Accessibility': ['Wheelchair accessible entr...                     None
4  {'Service options': ['Online appointments'], '...                     None

                                    relative_results  \
0  [0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...
1  [0x87df34956be9ce81:0xd16d24ce057d168b, 0x87df...
2  [0x87bae11b8f9db04d:0x310e8e8c5a4a3306, 0x87ba...
3  [0x88605e572a2cf8df:0x3e6534c112fe9e24, 0x8860...
4  [0x864c26de3a7d0c39:0xc703db0eaec98e60, 0x864c...

                                                 url
0  https://www.google.com/maps/place//data=!4m2!3...
1  https://www.google.com/maps/place//data=!4m2!3...
2  https://www.google.com/maps/place//data=!4m2!3...
3  https://www.google.com/maps/place//data=!4m2!3...
4  https://www.google.com/maps/place//data=!4m2!3...

In [37]:
df_metadata.describe()

            latitude      longitude     avg_rating  num_of_reviews
count  275001.000000  275001.000000  275001.000000   275001.000000
mean       37.341146     -92.238039       4.305749      109.725888
std         5.427185      16.297844       0.661190      403.381540
min       -40.929308    -177.373493       1.000000        1.000000
25%        33.621095     -98.649895       4.000000        8.000000
50%        38.247463     -87.508577       4.500000       26.000000
75%        41.281926     -80.301179       4.800000       60.000000
max        70.133941     180.000000       5.000000     9998.000000

In [38]:
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              274998 non-null  object
 1   address           269343 non-null  object
 2   gmap_id           275001 non-null  object
 3   description       35654 non-null   object
 4   latitude          275001 non-null  float64
 5   longitude         275001 non-null  float64
 6   category          273864 non-null  object
 7   avg_rating        275001 non-null  float64
 8   num_of_reviews    275001 non-null  int64
 9   price             38052 non-null   object
 10  hours             211785 non-null  object
 11  MISC              223255 non-null  object
 12  state             215364 non-null  object
 13  relative_results  250182 non-null  object
 14  url               275001 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 31.5+ MB

In [39]:
df_metadata.isnull().sum()

name                     3
address               5658
gmap_id                  0
description         239347
latitude                 0
longitude                0
category              1137
avg_rating               0
num_of_reviews           0
price               236949
hours                63216
MISC                 51746
state                59637
relative_results     24819
url                      0
dtype: int64